<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitX">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GenderSelectActivity" android:exported="true"/>
        <activity android:name=".GoalSelectionActivity" android:exported="true"/>
        <activity android:name=".CurrentBodyActivity" android:exported="true"/>
        <activity android:name=".TargetBodyActivity" android:exported="true"/>
        <activity android:name=".FocusAreaActivity" android:exported="true"/>
        <activity android:name=".MetricsInputActivity" android:exported="true"/>
        <activity android:name=".MotivationsActivity" android:exported="true"/>
        <activity android:name=".FitnessLevelActivity" android:exported="true"/>
        <activity android:name=".HomeActivity" android:exported="false"/>

    </application>

</manifest>